/assignment2/.env
/assignment2/node_modules

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/assignment3/node_modules
/assignment3/.pnp
/assignment3/.pnp.js

# testing
/assignment3/coverage

# production
/assignment3/build

# misc
/assignment3.DS_Store
/assignment3.env.local
/assignment3.env.development.local
/assignment3.env.test.local
/assignment3.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
