.exampleDiv {
  background-color: #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  margin: 5% 40% 5% 40%;
  border: 2px solid white;
  border-radius: 10px;
}

.exampleList {
  color: #cc0000;
  margin: 0.5%;
}

@media screen and (max-width: 500px) {
  .exampleDiv {
    width: 70%;
    margin: auto;
    font-size: 15px;
  }
}
